*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: black;
    background-image: url(./images/design1_image1.jpg);
    background-size: 100% 100%;
    background-origin: content-box;
    display: flex;
    /*position: relative;*/
    height: 350px;
    width: 100%;
justify-content: space-between;
}
    
h1{
    margin: 0px;
   /* position: relative;*/
    bottom: 140px;
    font-size: 67px;
    font-family: cursive;
    align-self: flex-end;
}

h2{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    font-size: 38px;
}

main{
    flex-direction: column;
}

nav{
    display: flex;
   /* position: static;*/
  /*  width: 300px;*/
  justify-content: space-between;
  background-color: aqua;
  align-items: center;
  flex-wrap: wrap;
}

nav > a {
    color: blue;
    display: flex;
    text-align: left;
    /* margin: 88px; */
    padding: 61px;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-wrap: wrap;
}

.home{
    color: black;
}

.home:visited {
   color: blue;
}
.about {
    color: black;
}
.about:visited{
    color: blue;
}
.contact {
    color: black;
}
.contact:visited{
    color: blue;
}

.rules {
    color: black;
}
.rules:visited {
    color: blue;
}
.gameinfo {
    color: black;
}
.gameinfo:visited {
    color: blue;
}

.registration {
    color: black;
}

.registration:visited {
    color: blue;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}
/*
article{
    display: flex;
}*/

h3{font-weight: bold;
}

h4{
    font-weight: lighter;
}

h3,h4{
    border: 5px;
}

.foto{
    display: flex;
}

.division { 
  
    display: flex;
    flex-direction: column;
    margin: 25px;
  
}

.sectioncontact {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column-reverse;
}

.textocontact{
    justify-content: center;
    margin: 25px;
}

table{
    align-self: center;
}

tr{
    background-color: black;
    border: 2px;
    font-size: 25px;
    margin: 3px;
    text-align: center;
}

td{
    background-color: brown;
    font-size: 25px;
    margin: 3px;
}

.cuerpo{
    flex-direction: column;
    justify-content: center;
    margin: 25px;
}

.game_info{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.div2{
    display: flex;
    justify-content: space-around;
}

.titulo{
    text-align: center;
}

.about{
    justify-content: center;
}

.register {
    display: flex;
    flex-direction: column;
}

.form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

label{
    font-size: 20px;
}

fieldset{
    margin:15px ;
    border: none;
}

.text-register {
    margin: 15px;
}

.maps {
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
}

iframe {
    margin: 16px;
}
.boton {
    font-size: large;
    margin: 15px;
    width: 50%;
    align-self: center;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {

header{
flex-direction: column;
}

h1{
    font-size: 20px;
    display: block;
    align-self: flex-start;
}

figure{
    justify-content: center;
    display: flex;
}


.foto{
width: 80%;
}
nav{
    flex-direction: column;
    justify-content: center;
}

nav > a {
font-size: medium;
padding: 20px;
}

.cuerpo{
    margin: 5px;
}
.div2{
    flex-direction: column;
}

td{
    font-size: 20px;
}
.maps{
    justify-content: center;
}
}