*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: black;
    background-image: url(./images/design1_image1.jpg);
    background-size: 100% 100%;
    background-origin: content-box;
    display: flex;
    /*position: relative;*/
    height: 350px;
    width: 100%;
justify-content: space-between;
}
    


h1{
    margin: 0px;
   /* position: relative;*/
    bottom: 140px;
    font-size: 67px;
    font-family: cursive;
    align-self: flex-end;
}


h2{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    font-size: 38px;
}

main{
    flex-direction: column;
}

nav{
    display: flex;
   /* position: static;*/
  /*  width: 300px;*/
  justify-content: space-between;
  height: 100px;
  background-color: aqua;
  align-items: center;
  
}

nav > a {
    color: blue;
    display: block;
    text-align: left;
    /* margin: 88px; */
    padding: 61px;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home{
    color: black;
}

.home:visited {
   color: blue;
}
.about {
    color: black;
}
.about:visited{
    color: blue;
}
.contact {
    color: black;
}
.contact:visited{
    color: blue;
}

.rules {
    color: black;
}
.rules:visited {
    color: blue;
}
.gameinfo {
    color: black;
}
.gameinfo:visited {
    color: blue;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
/*
article{
    display: flex;
}*/

h3{font-weight: bold;

}

h4{
    font-weight: lighter;
}

h3,h4{
    border: 5px;
}

.foto{
    display: flex;
}

.division { 
  
    display: flex;
    flex-direction: column;
  
}
.sectioncontact {
    justify-content:center;
    align-items: center;
}

.textocontent{
    justify-content: center;
}

table{
    align-self: center;
}

tr{
    background-color: black;
    border: 2px;
    font-size: 25px;
    margin: 3px;
    text-align: center;
}

td{
    background-color: brown;
    font-size: 25px;
    margin: 3px;
}

.cuerpo{
    flex-direction: column;
    justify-content: center;
}

.game_info{
    justify-content: center;
    align-items: center;
}

.div2{
    display: flex;
    justify-content: space-around;
}

.titulo{
    text-align: center;
}

.about{
    justify-content: center;
}